html {
    background: linear-gradient(#74ebd5, #ACB6E5);
    height: 100%;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0px 100px 75px 100px;
}

.sectionTitle {
    background-color: steelblue;
    text-align: center;
    border-bottom: 2px solid darkgray;
    margin-top: 0%;
}

.appTitle h2 {
    color: white;
    padding-top: 5%;
}
#addNote {
    display: flex;
    align-items: flex-start;
    padding: 5px;
    height: 30px;
    width: 50%;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.addBtn {
    margin-left: 0%;
    margin-bottom: 2%;
    font-size: 28px;
    color: white;
    border: none;
    background: none;
}
#newNote {
    border: none;
    width: 100%;
    height: 150%;
    font-size: 24px;
}
#myList {
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}
#myList li {
    height: 25px;
    border-bottom: 1px solid darkgray;
    background-color: whitesmoke;
    padding-left: 5px;
}
ul li:nth-child(odd) {
    background: red;
  }