html {
    background: linear-gradient(#74ebd5, #ACB6E5);
    height: 100%;
}
* {
    box-sizing: border-box;
}
body {
    margin: 0px 100px 75px 100px;
}

.sectionTitle {
    background-color: whitesmoke;
    text-align: center;
    border-bottom: 2px solid darkgray;
}

.appTitle {
    color: darkgray;
}
#addNote {
    display: flex;
    align-items: flex-start;
    padding: 5px;
    height: 30px;
    width: 50%;
    margin-bottom: 50px;
}
.addBtn {
    margin-left: 0%;
}
#newNote {
    border: none;
    width: 100%;
    height: 1000%;
}
#myList {
    list-style: none;
    padding: 0px;
    margin-top: 0px;
}
#myList li {
    height: 25px;
    border-bottom: 1px solid darkgray;
    background-color: whitesmoke;
    padding-left: 5px;
}