html {
    background-color: lineargradient(#FC5C7D, #6A82FB);
}

.sectionTitle {
    background-color: aqua;
    text-align: center;
}

.appTitle {
    color: red;
}
#addNote #newNote {
    border: none;
}