html {
    background: linear-gradient(#74ebd5, #ACB6E5);
    height: 100%;
}

.sectionTitle {
    background-color: whitesmoke;
    text-align: center;
}

.appTitle {
    color: darkgray;
}
#addNote #newNote {
    border: none;
}
#myList li {
    text-decoration: none;
}